.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
}

.primary-nav{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.nav{
  text-align: right;
}