.p1{
	border: 6px solid black;
	background-color: lightblue;
}

.p2{
	border: 4px solid black;
	background-color: lightblue;
}

.p3{
	border: 2px solid black;
	background-color: lightblue;
}

.p4{
	width: 100%;
	height: 20px;
	background-color: lightblue;
}