body{
  background-image: url("bg.jpg");
}

h2,.header{
  text-align: center;
}

.enjoy{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.temp{
  background-color: rgb(224,224,224);
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.beechMein{
  text-align: center;
}